# ==============================
# Python / Django
# ==============================
venv/
__pycache__/
*.pyc
db.sqlite3
.env
.env.*
media/
staticfiles/

# ==============================
# Node / React / Vite
# ==============================
node_modules/
dist/
build/

# ==============================
# Logs
# ==============================
*.log

# ==============================
# OS / Editor
# ==============================
.vscode/
.DS_Store
Thumbs.db
