// =============================
// Dashboard Styling
// =============================

.kpi-card {
  padding: 1.5rem;
  border-radius: $border-radius;
  background: #fff;
  box-shadow: $dashboard-card-shadow;

  h4 {
    font-weight: 700;
  }

  small {
    color: $secondary;
  }
}

.chart-card {
  background: #fff;
  padding: 1.5rem;
  border-radius: $border-radius;
  box-shadow: $dashboard-card-shadow;
}
